html {
    text-align: center;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    margin-bottom: 5px;
    background-color: #7affe2;
}

a:link {
    color: black
}

a:visited {
    color: gray
}

#title-text {
    font-family: 'Bungee Inline', sans-serif;
    font-size: 2em;
}

.doc {
    text-align: center;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    margin-bottom: 5px;
    background-color: #7affe2;
    font-family: "Roboto";
}

.search {
    height: 30px;
   
}

div.panel {
  border: 1px solid #000;
  padding: 6px;
  box-shadow: 3px 2px rgba(0,0,0,0.7);
}

.btn {
    color: #00d1a3;
}

#search-box {
}

#result-table {
    text-align: left;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#credit {
    border-top: 1px solid black;
    margin-top: 20px;
    padding-top: 7px;
    width: 100%;
    bottom: 0px;
    font-size: .7em;
    line-height: 0.4;
}